/ Footer
%footer
  .container
    .row
      .col-lg-10.col-lg-offset-1.text-center
        %h4
          %strong microsphere analysis
        %p
          Matteo Abis
        %ul.list-unstyled
          %li
            %i.fa.fa-phone.fa-fw
            5130
          %li
            %i.fa.fa-envelope-o.fa-fw
            %a{:href => "mailto:matteo.abis@psi.ch"} matteo.abis@psi.ch
        %br/
        %p.text-muted 07/2015
