/ Navigation
%a#menu-toggle.btn.btn-dark.btn-lg.toggle{:href => "#"}
  %i.fa.fa-bars
%nav#sidebar-wrapper
  %ul.sidebar-nav
    %a#menu-close.btn.btn-light.btn-lg.pull-right.toggle{:href => "#"}
      %i.fa.fa-times
    %li
      %a{:href => "#top", :onclick => "$(\"#menu-close\").click();"} Home
    %li
      %a{:href => "#analysis", :onclick => "$(\"#menu-close\").click();"} Overview
    %li
      %a{:href => "#experiment", :onclick => "$(\"#menu-close\").click();"} Experiment
    %li
      %a{:href => "#dataset-images", :onclick => "$(\"#menu-close\").click();"} Images
    %li
      %a{:href => "#dataset-plots", :onclick => "$(\"#menu-close\").click();"} Plots
