/ Header
%header#top.header
  .text-vertical-center
    %h1 Silica microspheres
    %h3 0.16 to 7.75 &micro;m
    .row
      .col-md-6.col-md-offset-3#summary-plot{data: {src: data.summary.to_json}}
    %br/
    %a.btn.btn-dark.btn-lg{:href => "#experiment"} the experiment

/ About
%section#analysis.about
  .container
    .row
      .col-lg-12.text-center
        %h2 overview
        %p.lead
          The microspheres are analysed with a 100 keV design energy interferometer

/ The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/
%section#experiment.services.bg-primary
  .container
    .row.text-center
      .col-lg-10.col-lg-offset-1
        %h2 the experiment
        %hr.small/
        .row
          .col-md-3.col-sm-6
            .service-item
              %span.fa-stack.fa-4x
                %i.fa.fa-circle.fa-stack-2x
                %i.fa.fa-flask.fa-stack-1x.text-primary
              %h4
                %a{href: "#setup"}
                  %strong setup
              %p 100 keV interferometer
          .col-md-3.col-sm-6
            .service-item
              %span.fa-stack.fa-4x
                %i.fa.fa-circle.fa-stack-2x
                %i.fa.fa-camera.fa-stack-1x.text-primary
              %h4
                %a{href: "#dataset-images"}
                  %strong images
              %p the raw images recorded with the mythen
          .col-md-3.col-sm-6
            .service-item
              %span.fa-stack.fa-4x
                %i.fa.fa-circle.fa-stack-2x
                %i.fa.fa-bar-chart.fa-stack-1x.text-primary
              %h4
                %a{href: "#dataset-plots"}
                  %strong histograms
              %p stats on each dataset
          .col-md-3.col-sm-6
            .service-item
              %span.fa-stack.fa-4x
                %i.fa.fa-circle.fa-stack-2x
                %i.fa.fa-book.fa-stack-1x.text-primary
              %h4
                %a{href: "#theory"}
                  %strong theory
              %p a theoretical description of polychromatic scattering

/ Portfolio
%section#dataset-images.portfolio
  .container
    .row
      .col-lg-10.col-lg-offset-1.text-center
        %h2 single dataset raw images
        %hr.small/
        .row
          .col-md-3.text-right
            select dataset:
          .col-md-6.text-center
            %select#select-dataset
              - data.summary.each do |s|
                %option{value: s.file}
                  =s.particle_size
                  &micro;m particle size,
                  =s.sample_thickness
                  mm sample thickness
        .row
          .col-md-4
            %h3 absorption
            .portfolio-item#absorption-image
          .col-md-4
            %h3 dark field
            .portfolio-item#darkfield-image
          .col-md-4
            %h3 ratio of the logarithms
            .portfolio-item#ratio-image

/ Call to Action
%section#setup.call-to-action.bg-primary
  .container
    .row
      .col-md-3
        %h3
          %strong gratings
        %p
          G<sub>0</sub> fabricated by the
          %a{href: "https://www.knmf.kit.edu/"} KNMF
          G<sub>1</sub> and G<sub>2</sub> fabricated by 
          %a{href: "www.micro-works.de"} MicroWorks GmbH.
        %p
          Nominal parameters: pitch 2.8 &micro;m, duty cycle 0.5, absorption
          thickness 800 &micro;m, phase-shifting thickness 19.4 &micro;m for
          a &pi; shift at 100 keV.
        %p
          Curvature radius: G<sub>0</sub> 23 cm, G<sub>1</sub> 38.8 cm,
          G<sub>2</sub> 54.6 cm.
      .col-md-3
        %h3
          %strong source
        %p
          %a{href: "www.comet-xray.com/"} COMET MXR-160HP/11
        %p 160 kVp
        %p 10 mA
        %p 1 mm source size
      .col-md-3
        %h3
          %strong detector
        %p
          %a{href: "http://www.psi.ch/detectors/mythen"} MYTHEN
          silicon strip detector. Custom sensor with 2 cm thickness and
          fan geometry of the strips.
      .col-md-3
        %h3
          %strong samples
        %p
          %a{href: "http://www.cospheric.com/SiO2MS_monodisperse_silica_spheres_beads_nm_microns.htm"} Cospheric LLC
          monodisperse silica microspheres.

%section#dataset-plots.portfolio
  .container
    .row
      .col-lg-10.col-lg-offset-1.text-center
        %h2 single dataset plots
        %hr.small/
        .row
          .col-md-3.text-right
            select dataset:
          .col-md-6.text-center
            %select#select-dataset-plots
              - data.summary.each do |s|
                %option{value: s.file}
                  =s.particle_size
                  &micro;m particle size,
                  =s.sample_thickness
                  mm sample thickness
        .row
          .col-md-6
            %h3 absorption
            .portfolio-item#absorption-histogram
          .col-md-6
            %h3 dark field
            .portfolio-item#darkfield-histogram
        .row
          .col-md-6
            %h3 ratio of the logarithms
            .portfolio-item#ratio-histogram
          .col-md-6
            %h3 visibility
            .portfolio-item#visibility-histogram
