/ Header
%header#top.header
  .text-vertical-center
    %h1 Silica microspheres
    %h3 0.16 to 7.75 &micro;m
    .row
      .col-md-6.col-md-offset-3#summary-plot{data: { exp: data.summary.to_json, theo: data.fit_prediction.to_json}}
    %br/
    %a.btn.btn-dark.btn-lg{:href => "#experiment"} what's this plot about?

%section#analysis.about
  .container
    .row
      .col-lg-12.text-center
        %h2 Overview
        %p.lead
          The microspheres are analysed with a 100 keV design energy
          interferometer in order to understand the contributions to the
          scattering signal given by fine structures.

%section#experiment.services.bg-primary
  .container
    .row.text-center
      .col-lg-10.col-lg-offset-1
        %h2 Experiment
        %hr.small/
        .row
          .col-md-3.col-sm-6
            .service-item
              %span.fa-stack.fa-4x
                %i.fa.fa-circle.fa-stack-2x
                %i.fa.fa-book.fa-stack-1x.text-primary
              %h4
                %a{href: "#theory"}
                  %strong theory
              %p A theoretical description of polychromatic scattering
          .col-md-3.col-sm-6
            .service-item
              %span.fa-stack.fa-4x
                %i.fa.fa-circle.fa-stack-2x
                %i.fa.fa-flask.fa-stack-1x.text-primary
              %h4
                %a{href: "#setup"}
                  %strong setup
              %p 100 keV interferometer
          .col-md-3.col-sm-6
            .service-item
              %span.fa-stack.fa-4x
                %i.fa.fa-circle.fa-stack-2x
                %i.fa.fa-bar-chart.fa-stack-1x.text-primary
              %h4
                %a{href: "#dataset-plots"}
                  %strong histograms
              %p stats on each dataset
          .col-md-3.col-sm-6
            .service-item
              %span.fa-stack.fa-4x
                %i.fa.fa-circle.fa-stack-2x
                %i.fa.fa-camera.fa-stack-1x.text-primary
              %h4
                %a{href: "#dataset-images"}
                  %strong images
              %p the raw images recorded with the mythen

%section#theory.call-to-action
  .container
    .row
      .col-lg-10.col-lg-offset-1
        %h2.text-center Theory
        %hr.small/

        .row
          %p
            This work is an attempt to reproduce and extend the experiments done by
            %a{href: "http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3407965/"} Lynch et al. (2011)
            on the interpretation of dark-field contrast with respect to particle size.

        .row
          %h3 Dark field given by microspheres
          %p#formula-68
            We start from formula (68) of that paper for a monochromatic beam:
            \\[
            \\mu_d = \frac{3\pi}{\lambda^2}f |\Delta\chi|^2 d
            \\begin{cases}
            D' & \text{if } D' \leq 1\\
            D' - \sqrt{D'^2 - 1}(1 + D'^{-2}/2) + (D'^{-1} + D'^{-3} / 4)\log\left(\frac{D' + \sqrt{D'^2 - 1}}{D' - \sqrt{D'^2 - 1}}\right) & \text{otherwise}
            \\end{cases}
            \\]
            Where \( \mu_d = -\log B/t \) with \(B\) as the dark-field signal and \(t\) the sample thickness.
            \\(D'\) is a normalized particle size equal to \(Dp/\lambda L\) with \(L\) the sample to detector distance, \(p\) the period of \(G_2\) and \(D\) the particle size.
            \\(\chi\) is the complex refractive index.
          %p
            Instead of \(\mu_d\) we will use a quantity that is proportional to that through the absorption coefficient \(\mu = 2k\beta\), but is more readily accessible from the experimental data, that is the ratio of the logarithms of the dark field and the transmission.
            \\[
            R = \frac{\log B}{\log A}
            \\]
          %p
            In the case of a polychromatic beam, this formula needs to be
            computed for each energy bin \(\mathcal{E}\) of the spectrum and
            then summed over the spectrum:
            \\[
            R = \sum_\mathcal{E} w(\mathcal{E}) R(\mathcal{E})
            \\]
          %p
            The spectral weights \(w(\mathcal{E})\) are computed starting from a
            %a{href: "http://spekcalc.weebly.com/"} SpekCalc
            simulated spectrum. The result of the simulation can be downloaded as a
            %a{href: "https://github.com/Enucatl/microspheres/blob/master/source/data/spectra/U210%20-%20160kVp%2011deg%201000Air%200.8Be%200Al%200Cu%200Sn%200W%200Ta%200Wa.csv"} csv file.
            The spectrum is then attenuated according to the Beer-Lambert law as it goes through the sample and interacts with the detector. This reweighting is performed by
            %a{href: "https://github.com/Enucatl/microspheres/blob/master/source/data/theoretical_curves.py#L24"} a python script.
            The refractive index \(n\) needed for this reweighting and for the function above is calculated through
            %a{href: "https://bitbucket.org/psitomcat/nist_lookup"} this library.

        .row
          %h3 Polychromatic visibility
          %p
            The visibility for each energy bin is calculated according to 
            %a{href: "http://rsta.royalsocietypublishing.org/content/372/2010/20130027"} Thüring and Stampanoni (2014).
          %p
            The formula for the visibility at an energy \( \mathcal{E} \) with a \(\pi\) shift in the phase grating, a design
            energy \(\mathcal{E_0}\) and a Talbot order \(m\) is
            \\[
            v(\mathcal{E}) = \frac{2}{\pi} \left\lvert \sin^2
            \\Big(\frac{\pi}{2}\frac{\mathcal{E_0}}{\mathcal{E}}\Big) 
            \\sin
            \\Big(\frac{m\pi}{2}\frac{\mathcal{E_0}}{\mathcal{E}}\Big) 
            \\right\rvert
            \.
            \\]
          %p
            This visibility as a function of energy is shown in the
            %a{href: "#visibility-12"} theoretical visibility plot
            below.

        .row
          %h3#thefit The fit
          %p
            After the spectral weights are computed, and they are obviously different for different thicknesses, the function \(R\) can be fitted to the data with two free parameters \(C\) and \(R_0\) such that:
            \\[
            R(\mathcal{E}) = R_0 + C \dfrac{|n|^2}{\beta} u(\mathcal{E})
            \\]
            Where \(u(\mathcal{E})\) is the conditional statement of
            %a{href: "#formula-68"} (68).
            \\(C\) is a normalization parameter and \(R_0\) can be interpreted as the intensity of the dark-field signal without any substructure in the sample.
          %p
            A
            %a{href: "https://github.com/Enucatl/microspheres/blob/master/data/fit.R#L47"} nonlinear fit function
            in R is used. The results of the fit are shown in the plot
            %a{href: "#top"} on top
            and in the following table:

          .row
            .col-md-offset-3.col-md-6.col-xs-12
              %table.table.text-center
                %thead
                  %tr
                    %th.text-center sample thickness (mm)
                    %th.text-center \(R_0\)
                    %th.text-center \(C (\times 10^{-3})\)
                %tbody
                  -data.fit_pars.each do |row|
                    %tr
                      %td
                        =row.sample_thickness
                      %td
                        =row.B
                        &pm;
                        =row.err_B
                      %td
                        =row.A
                        &pm;
                        =row.err_A

        .row
          %h3 The meaning of the fit constant \(R_0\)
          %p
            A previous experiment performed with samples without features on
            the micrometer scale, and a very similar setup with 120 keV
            design energy, showed that the ratio of the logarithms is a
            nonzero value and it is almost completely independent of the
            material. The values between 2 and 3 obtained with the fit on
            the microspheres are consistent with these earlier values and
            can provide a justification for merging these two regimes into
            one understanding of the dark-field signal.

        .row
          .col-md-offset-2.col-md-8.col-xs-12#aggregated

        .row
          %h3 Conclusions
          %p
            With this experiment we show that we can understand the
            dark-field signal in the context of high-energy grating
            interferometry as given by two contributions:
            %ul
              %li
                a constant value, possibly depending on the setup, but
                independent on the material. This is to be expected, since at
                higher energies both the scattering and absorption are
                proportional to the electron density, and the ratio is the
                same for all materials.
              %li
                an additional contribution for grating interferometry, given
                by structures that are much smaller than the pixel size, on
                the order of \(d = L \lambda / p \approx 1.5\) &micro;m (see
                the <a href="#formula-68">equation</a> above). This is a
                truly complementary signal that can not be retrieved with
                traditional absorption radiography.

        .row
          %h3 How are the \(w(\mathcal{E})\) calculated?
          %p
            The plots below show all the steps that lead to the final
            weighting of the spectrum. The final weights are the product of
            the source spectrum, refractive index of silica squared,
            visibility, detector efficiency and the photons transmitted by the
            sample. Only this last factor depends on the sample thickness.
        .row
          .col-md-6.col-xs-12.theoretical-histogram#photons-12{data: {src: "data/1.2.csv", var: "photons", ytitle: "#photons / 1 (keV)", normalize: true}}
            %h3 source spectrum (normalized to integral = 1)
          .col-md-6.col-xs-12.theoretical-histogram#n_squared-12{data: {src: "data/1.2.csv", var: "n_squared", ytitle: "|n|² / 1 (keV)", logarithmic: true}}
            %h3 refractive index of silica
        .row
          .col-md-6.col-xs-12.theoretical-histogram#visibility-12{data: {src: "data/1.2.csv", var: "visibility", ytitle: "visibility / 1 (keV)", normalize: true}}
            %h3 theoretical visibility
          .col-md-6.col-xs-12.theoretical-histogram#detector-efficiency-12{data: {src: "data/1.2.csv", var: "detector_efficiency", ytitle: "detector efficiency / 1 (keV)"}}
            %h3 detector efficiency
        .row
          .col-md-6.col-xs-12.theoretical-histogram#absorbed-12{data: {src: "data/1.2.csv", var: "absorbed_in_sample", ytitle: "sample transmission / 1 (keV)", normalize: true}}
            %h3 transmission through 12 mm SiO₂
          .col-md-6.col-xs-12.theoretical-histogram#absorbed-45{data: {src: "data/4.5.csv", var: "absorbed_in_sample", ytitle: "sample transmission / 1 (keV)", normalize: true}}
            %h3 transmission through 45 mm SiO₂
        .row
          .col-md-6.col-xs-12.theoretical-histogram#total-12{data: {src: "data/1.2.csv", var: "total_weight", ytitle: "total weight / 1 (keV)", normalize: true}}
            %h3 total weight \(w(\mathcal{E})\), 12 mm
          .col-md-6.col-xs-12.theoretical-histogram#total-45{data: {src: "data/4.5.csv", var: "total_weight", ytitle: "total weight / 1 (keV)", normalize: true}}
            %h3 total weight \(w(\mathcal{E})\), 45 mm


%section#setup.call-to-action.bg-primary
  .container
    .row
      .col-lg-10.col-lg-offset-1
        %h2.text-center Setup
        %hr.small/
        .row
          .col-md-3
            %h3
              %strong gratings
            %p
              G<sub>0</sub> fabricated by the
              %a{href: "https://www.knmf.kit.edu/"} KNMF
              G<sub>1</sub> and G<sub>2</sub> fabricated by 
              %a{href: "www.micro-works.de"} MicroWorks GmbH.
            %p
              Nominal parameters: pitch 2.8 &micro;m, duty cycle 0.5, absorption
              thickness 800 &micro;m, phase-shifting thickness 19.4 &micro;m for
              a &pi; shift at 100 keV.
            %p
              Curvature radius: G<sub>0</sub> 23 cm, G<sub>1</sub> 38.8 cm,
              G<sub>2</sub> 54.6 cm.
          .col-md-3
            %h3
              %strong source
            %p
              %a{href: "http://www.comet-xray.com/Products/X-Ray-Source/XRS-160"} COMET MXR-160HP/11
            %p 160 kVp
            %p 10 mA
            %p 1 mm source size
          .col-md-3
            %h3
              %strong detector
            %p
              %a{href: "http://www.psi.ch/detectors/mythen"} MYTHEN
              silicon strip detector. Custom sensor with 2 cm thickness and
              fan geometry of the strips.
          .col-md-3
            %h3
              %strong samples
            %p
              %a{href: "http://www.cospheric.com/SiO2MS_monodisperse_silica_spheres_beads_nm_microns.htm"} Cospheric LLC
              monodisperse silica microspheres.

%section#dataset-plots.portfolio
  .container
    .row
      .col-lg-10.col-lg-offset-1.text-center
        %h2 Single dataset plots
        %hr.small/
        .row
          .col-md-3.text-right
            select dataset:
          .col-md-6.text-center
            - datasets = data.summary.sort {|a, b| a.particle_size <=> b.particle_size}
            %select#select-dataset-plots
              - datasets.each do |s|
                %option{value: s.file}
                  =s.particle_size
                  &micro;m particle size,
                  =s.sample_thickness
                  mm sample thickness
        .row
          .col-md-6
            %h3 absorption
            .portfolio-item#absorption-histogram
          .col-md-6
            %h3 dark field
            .portfolio-item#darkfield-histogram
        .row
          .col-md-6
            %h3 ratio of the logarithms
            .portfolio-item#ratio-histogram
          .col-md-6
            %h3 visibility
            .portfolio-item#visibility-histogram

%section#dataset-images.portfolio.bg-primary
  .container
    .row
      .col-lg-10.col-lg-offset-1.text-center
        %h2 Single dataset raw images
        %hr.small/
        .row
          .col-md-6.col-md-offset-3.text-left
            %p
              The images are acquired with 19 phase steps, 5 s exposure per
              step. Each sample is scanned 10 times with one flat scan per
              line, for a total of 10 flat scans. Total exposure time: 31 m
              40 s per sample.
            %p
              The region of interest where the microspheres are located is
              then manually selected after the reconstruction. Only this
              region of interest is shown here and considered for the
              analysis.
        .row
          .col-md-3.text-right
            select dataset:
          .col-md-6.text-center
            %select#select-dataset
              - datasets.each do |s|
                %option{value: s.file}
                  =s.particle_size
                  &micro;m particle size,
                  =s.sample_thickness
                  mm sample thickness
        .row
          .col-md-4
            %h3 absorption
            .portfolio-item#absorption-image
          .col-md-4
            %h3 dark field
            .portfolio-item#darkfield-image
          .col-md-4
            %h3 ratio of the logarithms
            .portfolio-item#ratio-image
