/ Header
%header#top.header
  .text-vertical-center
    %h1 Silica microspheres
    %h3 0.16 to 7.75 &micro;m
    .row
      .col-md-9.col-md-offset-3#summary-plot{data: {src: data.summary.to_json}}
    %br/
    %a.btn.btn-dark.btn-lg{:href => "#experiment"} the experiment

/ About
%section#analysis.about
  .container
    .row
      .col-lg-12.text-center
        %h2 overview
        %p.lead
          The microspheres are analysed with a 100 keV design energy interferometer

/ The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/
%section#services.services.bg-primary
  .container
    .row.text-center
      .col-lg-10.col-lg-offset-1
        %h2 the experiment
        %hr.small/
        .row
          .col-md-3.col-sm-6
            .service-item
              %span.fa-stack.fa-4x
                %i.fa.fa-circle.fa-stack-2x
                %i.fa.fa-flask.fa-stack-1x.text-primary
              %h4
                %strong setup
              %p 100 keV interferometer
              %a.btn.btn-light{:href => "#setup"} Learn More
          .col-md-3.col-sm-6
            .service-item
              %span.fa-stack.fa-4x
                %i.fa.fa-circle.fa-stack-2x
                %i.fa.fa-camera.fa-stack-1x.text-primary
              %h4
                %strong images
              %p the raw images recorded with the mythen
              %a.btn.btn-light{:href => "#dataset-images"} Learn More
          .col-md-3.col-sm-6
            .service-item
              %span.fa-stack.fa-4x
                %i.fa.fa-circle.fa-stack-2x
                %i.fa.fa-bar-chart.fa-stack-1x.text-primary
              %h4
                %strong histograms
              %p stats on each dataset
              %a.btn.btn-light{:href => "#dataset-plots"} Learn More
          .col-md-3.col-sm-6
            .service-item
              %span.fa-stack.fa-4x
                %i.fa.fa-circle.fa-stack-2x
                %i.fa.fa-book.fa-stack-1x.text-primary
              %h4
                %strong theory
              %p a theoretical description of polychromatic scattering
              %a.btn.btn-light{:href => "#theory"} Learn More

/ Portfolio
%section#dataset-images.portfolio
  .container
    .row
      .col-lg-10.col-lg-offset-1.text-center
        %h2 single dataset raw images
        %hr.small/
        .row
          .col-md-3.text-right
            select dataset:
          .col-md-3
            %select#select-dataset
              - data.summary.each do |s|
                %option{value: s.file}
                  =s.thickness
                  &micro;m
        .row
          .col-md-4
            %h3 absorption
            .portfolio-item#absorption-image
          .col-md-4
            %h3 dark field
            .portfolio-item#darkfield-image
          .col-md-4
            %h3 ratio of the logarithms
            .portfolio-item#ratio-image

/ Call to Action
%aside.call-to-action.bg-primary
  .container
    .row
      .col-lg-12.text-center
        %h3
          = data.summary
        %a.btn.btn-lg.btn-light{:href => "#"} Click Me!
        %a.btn.btn-lg.btn-dark{:href => "#"} Look at Me!
%section#dataset-plots.portfolio
  .container
    .row
      .col-lg-10.col-lg-offset-1.text-center
        %h2 single dataset plots
        %hr.small/
        .row
          .col-md-3.text-right
            select dataset:
          .col-md-3
            %select#select-dataset-plots
              - data.summary.each do |s|
                %option{value: s.file}
                  =s.thickness
                  &micro;m
        .row
          .col-md-6
            %h3 absorption
            .portfolio-item#absorption-histogram
          .col-md-6
            %h3 dark field
            .portfolio-item#darkfield-histogram
        .row
          .col-md-6
            %h3 ratio of the logarithms
            .portfolio-item#ratio-histogram
          .col-md-6
            %h3 visibility
            .portfolio-item#visibility-histogram
